.form {
  width: 400px;
  span {
    color: rgb(244, 23, 82);
  }
  .input {
    display: block;
    width: 100%;
    margin-top: 0.8rem;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border: 1px solid teal;
    outline: none;
  }
  .btn {
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    margin-top: 0.8rem;
    padding: 0.5rem 0.8rem;
    background-color: teal;
  }
  .close {
    margin-left: 80%;
  }
}
