<div class="container">
  <button class="btn" (click)="openDialog()">Add Company</button>
  <table>
    <tr class="header">
      <td *ngFor="let headr of header">{{ headr }}</td>
    </tr>
    <tr *ngFor="let company of companies" class="even">
      <td>{{ company.id }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.No_of_Employee }}</td>

      <td>
        <span class="material-icons delete" (click)="deleteCompany(company.id)">
          delete_outline
        </span>

        <span class="material-icons eddit" (click)="onEdit(company)">
          mode
        </span>
      </td>
    </tr>
  </table>
</div>
