<div class="container">
  <button class="btn" (click)="onOpenModal()">Add salary</button>
  <table>
    <tr class="header">
      <td *ngFor="let headr of header">{{ headr }}</td>
    </tr>
    <tr *ngFor="let Salary of listOfSalary" class="even">
      <td>{{ Salary.id }}</td>
      <td>{{ Salary.employeType }}</td>
      <td>{{ Salary.salary }}</td>

      <td>
        <span class="material-icons delete" (click)="deleteSalary(Salary.id)">
          delete_outline
        </span>

        <span class="material-icons eddit" (click)="onEdit(Salary)">
          mode
        </span>
      </td>
    </tr>
  </table>
</div>
