<div class="container">
  <button mat-raised-button color="warn" class="btn">Add salary</button>
  <table>
    <tr class="header">
      <td *ngFor="let headr of header">{{ headr }}</td>
    </tr>
    <tr *ngFor="let Salary of listOfSalary" class="even">
      <td>{{ Salary.id }}</td>
      <td>{{ Salary.employeType }}</td>
      <td>{{ Salary.salary }}</td>

      <td>
        <span class="material-icons delete"> delete_outline </span>

        <span class="material-icons eddit"> mode </span>
      </td>
    </tr>
  </table>
</div>
