.side-nav {
  background-color: #343434;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.8rem;
  .sidebar-title {
    margin: 1rem auto;
  }
  .ul {
    list-style: none;
    margin-top: 2rem;
    li {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      border-left: 2px solid #343434;
      border-bottom: 1px solid #797575;
      padding: 0.7rem 0.4rem;
      transition: all ease 0.4s;
      &:hover {
        border-left: 2px solid teal;
      }
      span {
        margin-right: 0.8rem;
        color: teal;
      }
      a {
        color: rgb(236, 236, 236);
        font-size: 1.2rem;
        text-decoration: none;
        transition: all ease-in-out 0.4s;
        &:hover {
          color: rgb(189, 172, 172);
        }
      }
    }
  }
}
