<div class="side-nav">
  <h2 class="sidebar-title">Addmin</h2>

  <ul class="ul">
    <li>
      <span class="material-icons"> dashboard </span>
      <a href="#" routerLink="">Dashbored</a>
    </li>
    <li>
      <span class="material-icons"> engineering </span>
      <a href="#" routerLink="/employee">Employee</a>
    </li>
    <li>
      <span class="material-icons"> payment </span>
      <a href="#" routerLink="department">Department</a>
    </li>
    <li>
      <span class="material-icons"> payment </span>
      <a href="#" routerLink="salary">Salary</a>
    </li>
    <li>
      <span class="material-icons"> business </span>
      <a href="#" routerLink="company">Company</a>
    </li>
    <li>
      <span class="material-icons"> person_3 </span>
      <a href="#" routerLink="candidate">Candidate</a>
    </li>
  </ul>
</div>
